@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
.lacteos {
    width: 150px;
    height: 150px;
}
.container {
    width: 70vw;
    height: 100hw;
    margin-top: 6vw;
    border-radius: 8px;
    padding-bottom: 20px;
    background-color: rgba(79, 123, 235, 0.5);
    box-shadow: 50px rgba(0, 0, 0, 0.2);
}
.products {
    display: flex;
    justify-content: center;
    text-align: center;
}
p {
    font-family: "Salsa", cursive;
    font-size: 30px;
}
.button {
    font-size: 30px;
    border-radius: 50%;
    margin: 5px 30px;
    /* margin-left: 30px; */
    justify-content: space-around;
    background-color: rgba(79, 123, 235, 0.5);
    border: 1px dotted #ff8833;
}
.number {
    font-size: 25px;
}

.contador {
    width: 200px;
    height: 50px;
    background-color: rgba(220, 214, 214, 1);
    justify-content: space-around;
    border-radius: 30px;
    margin: 20px;
    margin-left: 57px;
    font-family: Courier, sans-serif;
    color: #c8a2c8;
}
